* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: auto;
  padding: 1rem;
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.circle {
  width: clamp(120px, 38vw, 180px);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  cursor: pointer;
  transition:
    transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    /* box-shadow 0.3s ease; */
}


.circle:hover {
  transform: scale(1.1);
}

.circle:active {
  transform: scale(0.95);
}

.red {
  background-color: #ff3b3b;
  /* box-shadow: 0 0 25px 5px rgba(255, 59, 59, 0.6); */
}

.blue {
  background-color: #00bfff;
  /* box-shadow: 0 0 25px 5px rgba(0, 191, 255, 0.6); */
}

.green {
  background-color: #39ff14;
  /* box-shadow: 0 0 25px 5px rgba(57, 255, 20, 0.6); */
}

.yellow {
  background-color: #ffd700;
  /* box-shadow: 0 0 25px 5px rgba(255, 215, 0, 0.6); */
}


/* Add a config button floating or at the top for index.html */
.config-link {
  background-color: rgba(207, 33, 33);
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.config-link:hover {
  background-color: rgb(201, 47, 150);
}